body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
  background: rgb(19, 8, 55);
  color: white;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: light;
  transition: 0.4s;
}

a:hover {
  color: black;
}

input[type="submit"] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

form input[type="submit"] {
  margin-left: 140px;
  width: 22%;
  transition: 0.4s;
}

input[type="submit"] {
  border: 0;
}

a.button {
  margin-left: 75px;
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 60px 12px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s;
}

.cancel {
  margin-left: 140px;
}

a.button:hover,
input[type="submit"]:hover {
  background-color: #01b189;
}

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #d8b493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #423089;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #e7e7e7;
  transition: 0.4s;
}

input[type="text"] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.4s;
}
.table {
  padding: 1.5rem 0;
  border-radius: 1rem;
  border: 2px solid;
  width: 85%;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
}
