extends layout

block content
  h1= book.title
  form(action=`/books/${book.id}` method="POST")
    include form-error
    include form
    p
      input(type="submit" value="Update Book")
    p
      a.button(href="/") Cancel
    p

  form(action="/books/" + book.id + "/delete", method="post")
    input(type="submit", value="Delete")
    
  